@font-face {
	font-family: IRAN Sans;
	font-style: normal;
	font-weight: normal;
	src: url('Fonts/IRAN Sans Regular/iran_sans_regular-webfont.eot');
	src: url('Fonts/IRAN Sans Regular/IRAN_Sans_Regular.otf') format('opentype'), 
	url('Fonts/IRAN Sans Regular/iran_sans_regular-webfont.woff2') format('woff2'), 
	url('Fonts/IRAN Sans Regular/iran_sans_regular-webfont.woff') format('woff'), 
	url('Fonts/IRAN Sans Regular/iran_sans_regular-webfont.ttf') format('truetype');
   }
   @font-face {
	font-family: IRAN Sans;
	font-style: normal;
	font-weight: bold;
	src: url('Fonts/IRAN Sans Bold/iran_sans_bold-webfont.eot');
	src: url('Fonts/IRAN Sans Bold/IRAN_Sans_Bold.otf') format('opentype'), 
	url('Fonts/IRAN Sans Bold/iran_sans_bold-webfont.woff2') format('woff2'), 
	url('Fonts/IRAN Sans Bold/iran_sans_bold-webfont.woff') format('woff'), 
	url('Fonts/IRAN Sans Bold/iran_sans_bold-webfont.ttf') format('truetype');
   }
body{
	font-family: 'IRAN Sans', Arial, sans-serif;
	font-weight:normal;
	line-height: 1.8em;
	padding: 0;
	margin: 0;
	height: 100vh;
	justify-self: center;
	align-items: center;
	width: 100%;
	margin-left: -8px !important;
	max-width: 1920px;
	min-width: 360px;

}
h1{
	text-align: right;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 15px;
	position: relative;
	top: 10px;
}
h2{
	text-align: right;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 0px;
}
h3{
	text-align: right;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 0px;
}
p{
	text-align: right;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 35px;
}
hr {
	border-top: 1px solid #ededed;
}
.Icon{
	width:55px;
	height: 50px;
	vertical-align: sub;
}
.footer-text{
	text-align: center;
	color: white;
}
.container{
	background-color:black;
	height:auto;
}
.Instagram{
	width: 240px !important;
	height: 40px !important;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}
.Telegram{
	width: 240px !important;
	height: 40px !important;
	border-radius: 10px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}
.logo{
	border-radius:10px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.section{
	margin: 0px;
	padding: 0px;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0px;
	direction: ltr !important;
}
.slider{
	width: 1000px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
	direction: ltr !important;
}
.slide{
	width: 500%;
	height: 500px;
	display: flex;
	padding-bottom: 0px;
	direction: ltr !important;
}
.slide input{
	display: none;
}
.st{
	width: 20%;
	transition: 2s;
}
.st image{
	width: 1000px;
	height: 500px;
}
.nav-m{
	position: absolute;
	width: 1000px;
	margin-top: -40px;
	justify-content: center;
	display: flex;
}
.m-btn{
	border: 2px solid black;
	padding: 5px;;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;

}
.m-btn:not(:last-child){
	margin-right: 30px;

}
.m-btn:hover {
	background-color: black;
}
#radio1:checked ~.first{
	margin-left: 0;
}
#radio2:checked ~.first{
	margin-left: -20%;
}
#radio3:checked ~.first{
	margin-left: -40%;
}
#radio4:checked ~.first{
	margin-left: -60%;
}
#radio5:checked ~.first{
	margin-left: -80%;
}
#radio6:checked ~.first{
	margin-left: -100%;
}
#radio7:checked ~.first{
	margin-left: -120%;
}
#radio8:checked ~.first{
	margin-left: -140%;
}
#radio9:checked ~.first{
	margin-left: -160%;
}
#radio10:checked ~.first{
	margin-left: -180%;
}
.nav-auto{
	position: absolute;
	width: 1000px;
	margin-top: 460px;
	display: flex;
	justify-content: center;

}
.nav-auto div{
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.nav-auto div:not(:last-child){
	margin-right: 30px;
	justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
	background-color: red;
}
#radio2:checked ~ .nav-auto .a-b2{
	background-color: red;
}
#radio3:checked ~ .nav-auto .a-b3{
	background-color: red;
}
#radio4:checked ~ .nav-auto .a-b4{
	background-color: red;
}
#radio5:checked ~ .nav-auto .a-b5{
	background-color: red;
}
#radio6:checked ~ .nav-auto .a-b6{
	background-color: red;
}
#radio7:checked ~ .nav-auto .a-b7{
	background-color: red;
}
#radio8:checked ~ .nav-auto .a-b8{
	background-color: red;
}
#radio9:checked ~ .nav-auto .a-b9{
	background-color: red;
}
#radio10:checked ~ .nav-auto .a-b10{
	background-color: red;
}
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 480px) {
	h1{
		font-size: 20px;
	}
	h2{
		font-size: 18px;
	}
	p{
		font-size: 15px;
	}
	.rights{
		font-size: 12px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		padding-top: 25px ;
		height: 24vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 360px;
		height: 180px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 180px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 360px ;
		height: 180px ;
		background-position: center;
		background-size: 10%;
	}
	.nav-m{
		position: absolute;
		width: 360px;
		margin-top: -20px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: .5px solid black;
		padding: 1.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 360px;
		margin-top: 160px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: .5px solid black;
		padding: 1.5px;
		border-radius: 10px;
		transition: 1s;
	}
	.st{
		width: 360px;
		height: 180px;
		transition: 2s;
		background-position: center;
		background-size: 10%;
	}
}
@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 660px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 40vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 540px;
		height: 270px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 180px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 540px;
		height: 270px;
	}
	.nav-m{
		position: absolute;
		width: 540px;
		margin-top: 60px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 1.5px solid black;
		padding: 2px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 540px;
		margin-top: 240px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 1.5px solid black;
		padding: 2px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 911px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 58vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 768px;
		height: 384px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 384px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 768px;
		height: 384px;
	}
	.nav-m{
		position: absolute;
		width: 768px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 768px;
		margin-top: 350px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 912px) 
and (max-device-width : 1024px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 68vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 912px;
		height: 456px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 456px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 912px;
		height: 456px;
	}
	.nav-m{
		position: absolute;
		width: 912px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 912px;
		margin-top: 420px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 1145px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 72vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1025px;
		height: 512px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 512px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1025px;
		height: 512px;
	}
	.nav-m{
		position: absolute;
		width: 1025px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1025px;
		margin-top: 478px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1146px) 
and (max-device-width : 1280px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 74vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1146px;
		height: 573px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 573px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1146px;
		height: 573px;
	}
	.nav-m{
		position: absolute;
		width: 1146px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1146px;
		margin-top: 539px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1281px) 
and (max-device-width : 1400px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 103vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1281px;
		height: 640px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 640px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1281px;
		height: 640px;
	}
	.nav-m{
		position: absolute;
		width: 1281px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1281px;
		margin-top: 607px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1401px) 
and (max-device-width : 1520px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1401px;
		height: 700px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 700px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1401px;
		height: 700px;
	}
	.nav-m{
		position: absolute;
		width: 1401px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1401px;
		margin-top: 667px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1521px) 
and (max-device-width : 1640px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 98vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1521px;
		height: 760px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 760px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1521px;
		height: 760px;
	}
	.nav-m{
		position: absolute;
		width: 1521px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1521px;
		margin-top: 725px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1641px) 
and (max-device-width : 1760px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1641px;
		height: 820px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 820px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1641px;
		height: 820px;
	}
	.nav-m{
		position: absolute;
		width: 1641px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1641px;
		margin-top: 783px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1761px) 
and (max-device-width : 1919px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 70vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1761px;
		height: 880px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 880px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1761px;
		height: 880px;
	}
	.nav-m{
		position: absolute;
		width: 1761px;
		margin-top: -35px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1761px;
		margin-top: 845px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
@media only screen 
and (min-device-width : 1920px) 
and (max-device-width : 1999px) {
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 23px;
	}
	p{
		font-size: 20px;
	}
	.rights{
		font-size: 17px;
	}
	.section{
		margin: 0px;
		padding: 0px;
		height: 88vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slider{
		width: 1880px;
		height: 940px;
		border-radius: 10px;
		overflow: hidden;
		padding-top: 0px;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.slide{
		width: 500%;
		height: 940px;
		display: flex;
		padding-bottom: 0px;
		direction: ltr !important;
	}
	.st image{
		width: 1880px;
		height: 940px;
	}
	.nav-m{
		position: absolute;
		width: 1880px;
		margin-top: -50px;
		justify-content: center;
		display: flex;
	}
	.m-btn{
		border: 2px solid black;
		padding: 4.5px;;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	
	}
	.nav-auto{
		position: absolute;
		width: 1880px;
		margin-top: 890px;
		display: flex;
		justify-content: center;
	
	}
	.nav-auto div{
		border: 2px solid black;
		padding: 4.5px;
		border-radius: 10px;
		transition: 1s;
	}
}
